@import "../node_modules/@astrouxds/design-tokens/dist/css/_colors-dark.css";
@import "../node_modules/@astrouxds/design-tokens/dist/css/_variables.css";

body {
  margin: 0;
  font-family: var(--font-body-1-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
  background: var(--color-background-base-default);
}
